<!-- <div class="user-profile">
    <h2>Order History</h2>
    <p class="user-email">Dear, {{ userEmail }}</p>
  
    <h3>Order Details</h3>
    <ul class="order-list">
      <li *ngFor="let order of orders" class="order-item">
        <p class="order-item-name">Item Name: {{ order.itemName }}</p>
        <p class="order-price">Price: {{ order.price }}</p>
        <p class="order-price">Quantity: {{ order.quantity }}</p>
        <p class="order-price">Total: {{ order.total }}</p>
      </li>
    </ul>
  </div> -->

  <div class="user-profile">
    <h2 class="mat-display-2">Order History</h2>
    <p class="user-email">Dear, {{ userEmail }}</p>
  
    <h3 class="mat-subheader">Order Details</h3>
    <mat-card class="order-card" *ngFor="let order of orders">
      <mat-card-content>
        <h4 class="mat-subheading item-name">{{ order.itemName }}</h4>
        <p>Price: {{ order.price | currency: 'INR' }}</p>
        <p>Quantity: {{ order.quantity }}</p>
        <p>Total: {{ order.total | currency: 'INR' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <p [ngClass]="{'order-status': true, 'delivered': order.processed, 'ordered': !order.processed}">
          {{ order.processed ? 'Delivered' : 'Ordered' }}
        </p>
      </mat-card-actions>
    </mat-card>
  </div>
  
  
  
  