<mat-toolbar  class="container">
    <span class="main">
      <span class="title">Bake My Cake</span>
    </span>
  
    <span class="spacer"></span>

    <span *ngIf="isLoggedIn" class="username"> Hi, {{ userService.authenticatedUser.username}}</span>

  
    <span>
      <a mat-icon-button routerLink="/view" class="navi">
        <mat-icon>cake</mat-icon>
      </a>
    </span>
  
    <span>
      <a mat-icon-button routerLink="/login" class="navi"  *ngIf="!isLoggedIn" (click)="login()">
        <mat-icon>account_circle</mat-icon>
      </a>

      <a mat-icon-button routerLink="/profile" *ngIf="isLoggedIn" class="navi">
        <mat-icon>history</mat-icon>
      </a>

      <a mat-icon-button routerLink="/**" class="navi">
        <mat-icon>contact_support</mat-icon>
      </a>

      <a mat-icon-button *ngIf="isLoggedIn" class="navi" (click)="logout()">
        <mat-icon>logout</mat-icon></a>
    </span>
  </mat-toolbar>
  <!-- <app-view></app-view> -->
  <router-outlet></router-outlet>

  